body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    /*width: 1440px;*/
    height: 72px;
}

.page-header.container {
    display: flex;
    align-items: center;
    max-width: 1158px;
    /*margin-right: 156px;*/
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fff;
}

.header-nav {
    display: flex;
    align-items: center;
    /*margin-right: 156px;*/
    /*margin-left: 156px;*/
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /*width: 115px;*/
    height: 24px;
    /*padding: 24px;*/
    margin-right: 76px;
    /*margin-right: 156px;*/
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
    flex-direction: row;
    gap: 40px;
    /*width: 261px;*/
    height: 24px;
    gap: 40px;
    /*display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;*/
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    height: 24px;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =======HERO SECTION======= */

.hero-section {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    background-color: #2e2f42;
    /*padding: 188px 0;*/
    text-align: center;
    width: 1440px;
    height: 600px;
}

.hero-section .container {
    /*align-items: center;
    text-align: center;
    padding: 188px 0 292px;
    gap: 48px;
    width: 1440px;
    background-color: #2e2f42;*/
    max-width: 496px;
    margin: 0 auto;
}

.page-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background-color: #2e2f42;
    margin-bottom: 48px;
    padding-top: 188px;
    max-width: 496px;
}

.page-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.page-button:hover {
    background-color: #404bbf;
}

.page-button:focus {
    background-color: #404bbf;
}

.page-button,
.page-button:focus,
.page-button:hover {
    cursor: pointer;
}

/* =====OUR FEATURES SECTION===== */

.team .container {
    width: 1440px;
    height: 344px;

}

.menu-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    /*width: calc((100% - 72%) / 4);*/
    padding: 120px 156px;
}

.box-strategy {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    gap: 24px;
    width: 264px;
    height: 104px;
    color: #2e2f42;
}

.box-punctuality {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 24px;
    width: 264px;
    height: 104px;
    color: #2e2f42;
}

.box-diligence {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 24px;
    width: 264px;
    height: 104px;
    color: #2e2f42;
}

.box-technologies {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 24px;
    width: 264px;
    height: 104px;
    color: #2e2f42;
}

.name-strategy,
.name-punctuality,
.name-diligence,
.name-technologies {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy-description,
.punctuality-description,
.diligence-description,
.technologies-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =======TEAM SEСTION======= */

.team .container {
    width: 1440px;
    height: 732px;
    background-color: #f4f4fd;
}

.title-team-name {
    /*font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 120px;
    text-align: center;*/
    /*color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;

    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;*/
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    padding: 120px 0 0;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.box-page-mark,
.box-page-tom,
.box-page-camila,
.box-page-daniel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding-block: 0px 32px;
    padding-inline: 0px;
    width: 264px;
    height: 380px;
    background-color: #fff;
}

.card-content-mark,
.card-content-tom,
.card-content-camila,
.card-content-daniel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 232px;
    height: 56px;
}

.text-mark,
.text-tom,
.text-camila,
.text-daniel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.text-mark-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.page-mark,
.page-tom,
.page-camila,
.page-daniel {
    background-color: #fff;
}

.text-tom-frontend {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.text-camila-marketing {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.text-daniel-ui {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*=====OUR PORTFOLIO=======*/

.page-portfolio {
    width: 1440px;
    height: 1240px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
}

.page-portfolio .container {
    width: 1128px;
    height: 888px;
    /*padding: 232px 156px 120px 156px;*/
    margin: 0 auto;
    /*padding: 0;*/
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    padding: 120px 0 72px 0;
    /*margin-bottom: 72px;*/
    color: #2e2f42;
}

.list-portfolio {
    width: 1128px;
    height: 888px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

/* =======BANKING======= */

.card-bank-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
}

.text-bank {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.bank-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.card-pay-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
}

.text-pay {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.pay-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.card-med-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
}

.text-med {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    height: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.med-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.card-taxi-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
}

.text-taxi {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.taxi-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.card-screen-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
}

.text-screen {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.screen-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.card-online-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
}

.text-online {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.online-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =======FOOTER======= */

.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-page .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-box {
    width: 264px;
    height: 112px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/*.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}*/

/*.container footer-page {
    width: 1158px;
    margin: 0 auto;*/
/*padding: 0;
}*/

/*.footer-box {
    width: 264px;
}*/

.footer-logo {
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    /*text-transform: uppercase;*/

    color: #4d5ae5;
}

.footer-logo span {
    color: #f4f4fd;
}